<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main-win">
        <h2 class="poppins-extrabold h-main">Get notification</h2>
        <div class="container">
            <button class="main-btn poppins-light" onclick="redirectToLogin()">
                <div>
                    <img src="~/images/gmail.png" alt="gmail">
                    Gmail
                </div>
            </button>
            <button class="main-btn poppins-light" onclick="redirectToLogin()">
                <div>
                    <img src="~/images/telegram.png" alt="telegram">
                    Telegram
                </div>
            </button>
            <button class="main-btn poppins-light" onclick="redirectToLogin()">
                <div>
                    <img src="~/images/vk.png" alt="vk">
                    Vk
                </div>
            </button>
        </div>
        <div class="login-win">
            <a class="account poppins-bold" asp-controller="Account" asp-action="Login">Login</a>
            <a class="account poppins-bold" asp-controller="Account" asp-action="SignUp">Sign up</a>
        </div>

    </div>
</body>

</html>
