@if (TempData["SuccessMessage"] != null)
{
    <div id="successAlert" class="alert alertSuccess poppins-extralight" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div id="ErrorAlert" class="alert alertError poppins-extralight" role="alert">
        @TempData["ErrorMessage"]
    </div>
}