@model NotificationWebsite.Models.User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    @if (TempData["ErrorMessage"] != null)
    {
        <div id="ErrorAlert" class="alert alertError poppins-extralight" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
    <div id="login-win" class="main-win">
        <h3 class="h-login">Enter your details:</h3>
        <a class="close-btn" asp-controller="Home" asp-action="Index">×</a>
        <form class="auth-form" method="post">
            <span asp-validation-for="Email" class="poppins-bold-italic white-text"></span>
            <span asp-validation-for="Password" class="poppins-bold-italic white-text"></span>
            <input asp-for="Email" id="login_Email" name="email" class="input-field poppins-bold-italic Email-img"
                type="text" placeholder="Enter email:" oninput="changeStateLoginBtn()" autocomplete="off">
            <input asp-for="Password" id="login_password" name="password"
                class="input-field poppins-bold-italic password-img" type="password" placeholder="Enter password:"
                oninput="changeStateLoginBtn()" autocomplete="off">
            <button type="submit" id="loginBtn" class="auth-btn auth-btn-login poppins-semibold">Login</button>

            <script>
                document.getElementById('loginBtn').disabled = true; //make the btn disabled when opening or refreshing the page
            </script>
        </form>

        <a class="account poppins-bold a-bottom" href="/Account/SignUp">Don't have an account yet?</a>

    </div>

    </div>
</body>

</html>
