.container-row {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.notification-list {
    position: relative;
    min-width: 18%;
    max-width: 18%;
    flex-direction: column;
    background-color: #31363F;
    border-top-left-radius: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.header-notification-list {
    height: 15%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between; 
    align-items: center;
}

.menu {
    color: #EEEEEE;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    margin: auto;
}

.search-container {
    height: 35%;
    width: 80%; 
    margin: auto;
}

.search-input {
    margin-left: 3%;
    height: 100%;
    width: 100%;
    padding-left: 8%;
    background-color: #282c34;
    border: none;
    border-radius: 20px;
    color: #EEEEEE;
    text-align: left;
    outline: none;
    box-sizing: border-box;
}

.search-input:focus {
    border: 2px solid #76ABAE;
    outline: none;
}

.separator{
    display: flex;
    position: relative;
    height: 1px;
    width: 90%;
    background-color: #EEEEEE;
    align-self: center;
    margin-bottom: 3%;
}
.scrollable-list-area{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.scrollable-list-area::-webkit-scrollbar {
    width: 2px;
  }
  
  .scrollable-list-area::-webkit-scrollbar-track {
    background: #888;
  }
  
  .scrollable-list-area::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }
  
  .scrollable-list-area::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

.add-icon{
    position: absolute;
    bottom: 2%;
    right: 5%; 
    z-index: 1;
    transition: transform 0.3s;
}
.add-icon:hover{
    transform: rotate(90deg) scale(1.1);
    cursor: pointer;
}
.notification-block {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #31363F;
    transition: filter 0.3s;
    border-radius: 8px;
    max-height: 10%;
    overflow: hidden;
}

.notification-block:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.notification-status{
    margin-left: 2%;
    margin-right: 3%;
    position: relative;
    align-self: center;
}

.notification-block-information{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
}
.notification-header{
    color: #EEEEEE;
    margin-left: 1%;
}
.notification-body {
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 3%;
    color: #eeeeee7e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-blocks-empty{
    font-size: 20px;
    margin-top: 10%;
    color: #EEEEEE;
    text-align: center;
    text-wrap: wrap;
}


.notification-information-bg {
    display: flex;
    flex-direction: column;
    min-width: 60%;
    max-width: 60%;
    background-color: #282c34;
}

.header-notification-information{
    display: flex;
    height: 10%;
    font-size: 30px;
    align-items: center;
    color:#EEEEEE;
    border-bottom: #EEEEEE solid 3px;
    padding-left: 5%;
}

.notification-information-SS{
    display: flex;
    color:#EEEEEE;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
    
}
.notification-information-message{
    display: flex;
    color:#EEEEEE;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
.show-notification-header-animation {
    animation: show-notification-header-animation 0.3s ease-in-out;
}
.show-notification-message-animation {
    animation: open-window 0.5s ease-in-out;
}
.show-notification-social-animation{
    animation: slide 0.7s ease-in-out;
}
.notification-information-status
{
    margin-top: 8%;
    margin-right: 3%;
    color: #EEEEEE;
    align-self: flex-end;
    justify-self: flex-end;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
    border: none;
}

.modal-add-notification {
    display: none; 
    position: fixed;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    width: 40%;  
    height: 50%;  
    border-radius: 10px;
    z-index: 2;
    animation: open-modal-win 0.3s forwards;
    border: none;
}

.modal-left-content {
    display: flex;
    width: 40%;
    max-width: 40%; 
    flex-direction: column;
    overflow: hidden;
    background-color: #76ABAE;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.add-notification-header{
    color: #EEEEEE;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.modal-win-header{
    margin-bottom: 3%;
    display: flex;
    font-size: 2.5vh;
    text-decoration: none !important; 
}

.modal-header{
    display: flex;
    position: relative;
    width: 100%;
}

.mg-t-5{
    margin-top: 5%;
}
.mg-l-8{
    margin-left: 8%;
}
.add-animated-icon{
    animation: jump 6s ease-in-out infinite;
}

.title-field
{
    font-size: 2vh;
    color: #EEEEEE;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
}
.add-input-title{
    font-size: 1.8vh;
    display: flex;
    margin-top: 1%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
    height: 8%;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.1s;
    background: #EEEEEE;
}
.add-input-title:focus{
    height: 9%;
}

.add-ta-message{
    text-align: start;
    display: flex;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 3%;
    height: 55%;
    font-size: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.1s;
    align-items: flex-start;
    resize: none;
    background: #EEEEEE;
}
.add-ta-message:focus{
    height: 58%;
}
.add-ta-message::-webkit-scrollbar{
    width: 4px;
}
.add-ta-message::-webkit-scrollbar-track{
    background: #76ABAE;
}
.add-ta-message::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #3f777a;
}

.modal-right-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%; 
    height: 100%;
    background-color: #3f777a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    background: #EEEEEE;
    justify-self: center;
    align-self: center;
    width: 96%;
    height: 65%;
    border-radius: 10px;
    margin-top: 12%;
}

.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 5% 2%;
}

header .current-date{
    font-size: 2vh;
}
header .icons span{
    font-size: 3vh;
    height: 25px;
    width: 25px;
    margin: 0 1px;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
    border-radius: 50%;
    color: #878787;
}
header .icons span:hover{
    background: #dedede;
}
header .icons span:last-child{
    margin-right: -10px;
}

.calendar{
    padding-bottom: 10%;
}

.calendar ul{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li{
    position: relative;
    width: calc(100% / 7);
}

.calendar .weeks li{
    margin-bottom: 1%;
}

.calendar .days li{
    margin-top: 1%;
    cursor: pointer;
    z-index: 1;
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}
.days li.active::before{
    background: #3f777a;
}

.calendar .days li::before{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li:hover::before{
    background: #dedede;
}
.days li.active:hover::before{
    background: #3f777a;
}
.calendar .days{
    margin-bottom: 1%;
}


.choose-socials{
    display: flex;
    align-items: center;
    height: 10%;
    margin: 3%;
    background-color: #EEEEEE;
    border-radius: 10px;
}
.chosen-icon{
    display: block;
    margin-bottom: 5%;
    margin-right: 5%;
    align-self: flex-end;
    margin-left: 20%;
    visibility: hidden;
}
.choose-item{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.2s;
}
.choose-item:hover{
    cursor: pointer;
    transform: scaleX(1.05);
}
.choose-social-icon{
    height: 100%;
    margin-top: 10%;
}

.chosen{
    background-color: #cecece;
}

.modal-add-submit{
    cursor: pointer;
    display: flex;
    width: 90%;
    height: 15%;
    margin-left: auto;
    margin-right: 5%;
    margin-bottom: 2%;
    background-color: #EEEEEE;
    border-radius: 10px;
    color: #3f777a;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}
.modal-add-submit:hover{
    color: #3f777a;
    transform: scale(1.03);
}

.close-modal-add-notification {
    color: #31363F;
    position: absolute;
    right: 2%; 
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.close-modal-add-notification:hover {
    color: #222831;
    transform: scale(1.2);
}
.close-modal-win-animation {
    animation: close-modal-win 0.4s forwards;
}
